body {
    color:white;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 50px;
}

a {
    color: white;
    text-decoration:none
}

img {
    width: 250px;
    height: 250px;
    border: 5px solide white;
}

.center {
    text-align: center;
}

style {
    text-indent: 20px;
}


